.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 60s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);    
  }
  to {
    transform: rotate(360deg);    
  }
}

.all-provider-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  column-gap: 15px;
  width: 75%;
}

.provider-container {
  border: 1px solid #61dafb;
  border-radius: 5px;
  padding: 15px; 
  background-color: rgb(232, 234, 237);
  color: #282c34;
  min-height: 250px;
  justify-self: stretch;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.optionform {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px;
}

.optionform label {
  font-size: small;
  justify-self: start;
  align-self: end;
  margin: 0px;
  padding: 0px;
}

.optionform input {  
  justify-self: stretch;
  align-self: start;
  margin-bottom: 10px;
}

.loginPanel {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 20px;
}